{% extends "layout/base.twig" %}

{% set pageTitle = 'Login' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
            <p class="form-signin-heading">{% trans %}help.setup_notifications{% endtrans %}</p>
    <div class="container">

        {% if error|length > 0 %}
        <div class="alert alert-danger">{{  error }}</div>
        {% endif %}

        <form class="form-signin" action="/general/login.php" method="post">
            <h2 class="form-signin-heading">{% trans %}please_login{% endtrans %}</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">

            <div class="form-group">
                <p>Default Language: {{ defaultLanguage }}</p>
                <label for="exampleFormControlSelect1">Select Language</label>
                <select class="form-control" name="languageForm">
                    {% for key, lang in languages %}
                        <option value="{{ key }}" {% if key == defaultLanguage|lower %}selected="selected"{% endif %}>{{ lang }}</option>
                    {% endfor %}
                </select>
            </div>
{#
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
#}
            <input type="hidden" name="auth" value="test" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
{% endblock %}
